


.Lista {
  text-align: center;
  height:100%;
  background-color: #1a4cb1;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.Image {
  width:42px;
  height:42px
}
.Lista table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.Lista th {
  padding: 5px;
  background-color: #062769;
}

.Lista td {
  height: 50px;
  border: 1px solid black;
}